$grayColor: #8f8f8f;
$redColor:#9a1032;
$greenColor: #46b494;
$blackColor:#232323;
$blueColor:#202046;
$whiteColor: #ffffff;
$yellowColor:#ffc107;
$QARColor: #222a47;
$TimeColor: #202046;
$borderColor: #b8b7b7;

