@import "../styles/variable";

.flexBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

button, input, textarea{
  border:none;
  outline: none;
  box-shadow: 0 12px 8px rgba(0,0,0,0.07);
  border-radius: 10px;
  cursor: pointer;
  background-color: $whiteColor;
}