@import "../styles/variable";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flexBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.App{
  // width: 375px;
  @extend .flexBox;
  flex-direction: column;
  justify-content: center;
}

.title-pages{
  font-size: 14px;
  color: #232323;
  margin-top: 29px;
  margin-left: 15px;
}

a{
  text-decoration: none;
}

button, input, textarea{
  border:none;
  outline: none;
  box-shadow: 0 12px 8px rgba(0,0,0,0.07);
  border-radius: 10px;
  cursor: pointer;
  background-color: $whiteColor;
}