@import "../styles/variable";

.search-content{
  height: 237px;
    background-color: #46b494;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .input-search,.search-pages .home-back .background{
      background-color: $whiteColor;
    }

    .card{
      box-shadow: none;
      justify-content: space-between;
    }
}

.services{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .card{
    position: relative;
    box-shadow: none;
  }
  .paragraph{
    color: #222a47;
    margin-bottom: 1em;
    width: 319px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
  }
  .rateVal{
    color: #202046;
    margin-left: -10em;
    margin-top: 1em;
    & span{
      margin-left: 1em;
    }
  }

  .card-pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 12px 8px rgba(0,0,0,0.07);
    height: 123px;
    border-radius: 10px;
    width: 343px;

    &:not(:first-of-type){
      margin-top: 20px;
    }
  }
}

.title-service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  & img{
    margin-right: 1em;
    margin-top: 1em;
  }
}

.service-cleaning{
  .paragraph{
    width: 319px;
    height: 111px;
    line-height: 1.5;
  }
  .card-pages{
    height: 189px;
  }

  .pick-time{
    display: flex;
    flex-direction: column;
    width: 343px;
    margin-top: 34px;

    & h6{
      font-size: 12px;
      color: $TimeColor;
    }
    & textarea{
      height: 143px;
      resize: none;
      margin-top: 1em;
      &::placeholder{
        color: $QARColor;
      }
    }
    & textarea, input{
      border-radius: 10px;
      border: none;
      box-shadow: 0 12px 8px rgba(0,0,0,0.07);
      outline: none;
      padding: 1em;
    }

    &> div:first-of-type{
      display: flex;
      justify-content: space-between;
      & input{
        width: 163px;
        height: 52px;
      }
    }
  }
}


.requestBtn{
  width: 343px;
  height: 50px;
  background-color: $greenColor;
  box-shadow: 0 12px 8px rgba(0,0,0,0.07);
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  color: white;
  font-size: 14px;
  cursor: pointer;
}


.mobile-box{
  display: flex;
  width: 343px;
  flex-direction: column;
  position: relative;
  & >div:first-of-type{
    display: flex;
    flex-wrap: wrap;
    width: 343px;
    align-items: center;
    box-shadow: 0 12px 8px rgba(0,0,0,0.07);
    border-radius: 10px;
  }
  & h6{
    margin-top: 25px;
    font-size: 12px;
    color: $blueColor;
  }
  & input{
    height: 52px;
    border: none;
    margin-top: 7px;
    padding-left: 20px;
    outline: none;
  }
  .btn{
    position: fixed;
    bottom: 95px;
  }

  & img{
    margin-left: 19px;
  }

  .btn-payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7px;
    & button{
      border:none;
      outline: none;
      box-shadow: 0 12px 8px rgba(0,0,0,0.07);
      width: 163px;
      height: 52px;
      background-color: $whiteColor;
      border-radius: 10px;
      cursor: pointer;
      &:first-of-type{
        background-color: $greenColor;
        color: $whiteColor;
      }
    }
  }
}