.flexBox, .mobile-box .btn-payment, .mobile-box .payment-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, input, textarea {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 12px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 12px 8px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
}

.search-content {
  width: 375px;
  height: 237px;
  background-color: #46b494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-content .input-search, .search-content .search-pages .home-back .background {
  background-color: #ffffff;
}

.search-content .card {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .card {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services .paragraph {
  color: #222a47;
  margin-bottom: 1em;
  width: 319px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}

.services .rateVal {
  color: #202046;
  margin-left: -10em;
  margin-top: 1em;
}

.services .rateVal span {
  margin-left: 1em;
}

.services .card-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 0 12px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 12px 8px rgba(0, 0, 0, 0.07);
  height: 123px;
  border-radius: 10px;
  width: 343px;
}

.services .card-pages:not(:first-of-type) {
  margin-top: 20px;
}

.services .card-pages:last-of-type {
  margin-bottom: 20px;
}

.title-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-service img {
  margin-right: 1em;
  margin-top: 1em;
}

.service-cleaning .paragraph {
  width: 319px;
  height: 111px;
  line-height: 1.5;
}

.service-cleaning .card-pages {
  height: 189px;
}

.service-cleaning .pick-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 343px;
  margin-top: 34px;
}

.service-cleaning .pick-time h6 {
  font-size: 12px;
  color: #202046;
}

.service-cleaning .pick-time textarea {
  height: 143px;
  resize: none;
  margin-top: 1em;
}

.service-cleaning .pick-time textarea::-webkit-input-placeholder {
  color: #222a47;
}

.service-cleaning .pick-time textarea:-ms-input-placeholder {
  color: #222a47;
}

.service-cleaning .pick-time textarea::-ms-input-placeholder {
  color: #222a47;
}

.service-cleaning .pick-time textarea::placeholder {
  color: #222a47;
}

.service-cleaning .pick-time textarea, .service-cleaning .pick-time input {
  padding: 1em;
}

.service-cleaning .pick-time > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-cleaning .pick-time > div:first-of-type input {
  width: 163px;
  height: 52px;
}

.requestBtn {
  width: 343px;
  height: 50px;
  background-color: #46b494;
  margin-top: 1em;
  color: white;
  font-size: 14px;
}

.mobile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mobile-box > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 343px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 12px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 12px 8px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.mobile-box h6 {
  margin-top: 25px;
  font-size: 12px;
  color: #202046;
}

.mobile-box input {
  height: 52px;
  margin-top: 7px;
  padding-left: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile-box .btn {
  position: fixed;
  bottom: 95px;
}

.mobile-box img {
  margin-left: 19px;
}

.mobile-box .btn-payment {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}

.mobile-box .btn-payment button {
  width: 163px;
  height: 52px;
}

.mobile-box .btn-payment button:first-of-type {
  background-color: #46b494;
  color: #ffffff;
}

.mobile-box .payment-method {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
}

.mobile-box .payment-method button {
  width: 106px;
  height: 59px;
}

.mobile-box .payment-method img {
  margin-left: 0;
}

.mobile-box .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mobile-box .card-box .card-btn {
  height: 46px;
  border: 1px solid #b8b7b7;
  border-radius: 10px;
  padding: 14px;
  margin-top: 4px;
}

.mobile-box .card-box .card-btn:first-of-type {
  width: 344px;
}

.mobile-box .card-box .expiration-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-box .card-box .expiration-box div:last-of-type {
  width: 130px;
}
/*# sourceMappingURL=style.css.map */